body{
    /* padding: 0; */
    margin: 0;
    width: auto;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-light{
    /* width: 100vh; */
    overflow:none;
    display: grid;
    background-color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.navbar-light-contact{
    background-color: rgba(147,9,250,255);
    color: white;
    border: none;
    padding: 3px;
    border-radius: 4px;
    padding: 10px 12px;
    position: relative;
    left: 90%;
}

.navbar-light-heading{
    color: black;
    font-weight: bold;
    padding: 4px;
    flex:2;
    position: relative;
    right: 50%;
    padding-left: 10px;
    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.navbar-light-comps{
    /* color:white; */
    padding: 10px;
}

.navbar-first-sec{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.navbar-all-comps{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px
}

.landing-title{
    font-size: 42px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.landing-content{
    background-color: rgb(24,20,20);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    
}

.navbar-light-comps{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-light-comps:active::after{
    
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.left-content{
    margin-left: 2px;
}

.read-now-button{
    background-color: rgba(147,9,250,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
}

.right-content{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.second-section{
    background-color: rgba(170,170,170,255);
    
    /* padding-top: 0px; */
}

.card-3-1{
    display: grid;
    grid-template-columns: 0.4fr 2fr 0.4fr;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-bottom: white 2px solid;
    font-size:15px;
    /* margin-bottom: 20px; */
}

.card-3-1 .written-2{
    padding-left: 10px;
}

.third-section{
    background-color:rgb(24,20,20);
    color: white;
    padding: 15px;
}

.third-title{
    font-weight: bold;
    font-size: 20px;
    /* padding-top: 10px;   */
    padding: 10px 18px;
}

.review-section{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-size:15px;
    /* margin-bottom: 20px; */
}

.review-card{
    background-color: rgba(170,170,170,255);
    padding: 14px;
    margin: 10px;
    color: black;
    border-radius: 11px;
}

.reviewer{
    display: flex;
}

.reviewer-pic{
    width: 30px;
    height: 30px;
    border-radius:50%;
    padding-right: 10px;
}

.review-content{
    margin-bottom: 36px;
}

.reviewer-name{
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 5px;
}

.gallery-area{
    background-color: black;
    color: white;
}

.gallery-heading{
    font-weight: bold;
    font-size: 20px;
    padding: 15px 10px;
    padding-bottom: 5px;
}

.gallery-swiper{
    display: grid;
    justify-content: center;
    align-items: center;
}

.gallery-image{
    height: 12rem;
    width: 20rem;
    position: relative;
    margin: 30px 0;
    /* display: grid;
    justify-content: center;
    align-items: center; */
    padding-left: 5.7vh;
}

.footer-section{
    background-color: rgba(170,170,170,255);
    color: white;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-title{
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 5px;
}

.footer-social{
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 5px;
}

.blog-page-section{
    background-color: rgba(22,22,22,255);
    color: white;
    padding: 15px;  
}

.blog-page-title{
    font-weight: bold;
    
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.blog-post{
    background-color: rgba(54,54,54,255);
    color: white;
    margin: 15px;
    padding: 25px 15px;
    border-radius: 9px;
    border: 3px solid white;
    margin-top: 30px;
    /* max-height: 270px; */
    flex: 1;
}

.service-1{
    background-color: rgba(22,22,22,255);
    color: white;
    padding: 20px;
}

.service-title{
    font-weight: bold;
    font-size: 35px;
}

.pointer-desc{
    font-weight: bold;
}

.service-point{
    padding: 8px;
}

.book-session{
    background-color: rgba(147,9,250,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.service-image-1{
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width:300px;
    height: 300px;
    /* max-height: 1500px;
    max-width: 1500px; */
}

.service-3{
    background-color: rgba(22,22,22,255);
    color: white;
    border: white;
    padding: 20px;
}

.form-entry{
    background-color: rgba(23,23,23,255);
        color: white;
        border: white 1px solid;
        padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 6px;
    /* border: none;     */
    margin: 2px;
        /* border-radius: 6px; */
}

.service-title-3{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}

.book-session-2{
    background-color: rgba(147,9,250,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.service-2{
    background-color: rgba(169,169,169,255);
    color: black;
    padding: 20px;
}

.service-image-2{
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width:300px;
    height: 300px;
    max-height: 1500px;
    max-width: 1500px;
}

.form-area-input{
    display: grid;
    padding: 5px 0;
}

.contact-section-page{
    background-color: rgba(22,22,22,255);
    color: white;
    padding: 28px;
}

.contact-title{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
}
.contact-subtitle{
    padding-bottom: 10px;
}

.contact-icon{
    padding-bottom: 10px;
}

.contact-info-written{
    padding-bottom: 15px;
}

.form-label{
    padding: 5px;
}



.contact-left{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(22,22,22,255);
}

.contact-image{
    border: none;
    margin: 0;
    padding: 30px;
    max-width: 1000px;
    max-height: 1000px;
}

.form-submit{
    background-color: rgba(147,9,250,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 21px;
    margin-bottom: 15px;
}

.journey{
    background-color: black;
    color: white;
    padding: 18px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.journey-heading{
    font-weight: 450;
    font-size: 28px;
}

.about-section-1{
    background-color: black;
    color: white;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
}

.photo{
    margin-top: 10px;
    margin-left:10%;
    width:250px;
    height: 250px;
    max-height: 1500px;
    max-width: 1500px;
    border-radius: 7px;
}

.about-right{
    margin-top: 25px;
}

.about-section-2{
    border:none;
    background-color: black;
    color: white;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-left{
    margin: 25px 0;
}

.blog-post-title{
    font-weight: bold;
}

.blog-post{
    flex: 1;
    max-width: 420px;
    /* max-height: 275px; */
}

.blog-sep-post{
    background-color: rgba(22,22,22,255);
    color: white;
    padding: 10px 15px;
}

.blog-sep-subtitle{
    font-size: 15px;
    font-weight: 200;
}

.blog-sep-title{
    font-weight: bold;
    font-size: 34px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.blog-sep-thumb{
    padding-top: 15px;
    width: 70%;
    height: 70%;
    max-width: 1000px;
    max-height: 1000px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.know-more-section{
    background-color: rgba(22,22,22,255);
    color: white;
    padding: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-graphology{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.know-heading{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.know-desc{
    padding-bottom: 30px;
}

.know-desc li{
    padding-bottom: 15px;
}

.service-left-image{
    padding-left: 30px;
    max-width: 800px;
    max-height: 800px;
    padding-bottom: 20px;
}
.service-right-image{
    padding-bottom: 20px;
    padding-left: 30px;
}

@media (min-width: 1024px) {
    .landing-content{
        display: flex;
        padding: 100px;
    }
    
    .right-content{
        width:50%;
    }
    .landing-image{
        width: 600px;
        height: 395px;
    }

    .left-content{
        width: 45%;
        position: relative;
        flex-direction: row;
        padding-right: 70px;
    }

    .landing-title{
        width: 100%;
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        font-size: 70px;
        margin-bottom: 20px;
        /* position: relative; */
    }

    .read-now-button{
        color: white;
        background-color: rgba(147,9,250,255);
        margin-top:35px;
        border: none;
        border-radius: 3px;
        padding: 12px 30px;
        cursor: pointer;
    }

    .landing-subtitle{
        font-weight: 10;
        font-size: 20px;
        margin-top: 0px;
    }

    .second-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px; 
    }

    .card-3-1{
        padding: 20px;
        margin: 20px 0;
        display: flex;
        border-bottom: none;
        font-size:15px;
    }
    
    .card-title{
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        font-size: 20px;
        position: relative;
    }
    
    .card-description{
        font-family:  "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: 10;
        font-size: 15px;
        margin-top: 15px;
    }

    .third-title{
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding: 60px 0 30px 0;
    }

    .review-section{
        display: flex;
        padding-left: 7vh;
        padding-right: 7vh;
    }

    .review-card{
        width: 24%;
        border: solid 1px black;
        margin: 20px;
        background-color: rgba(169,169,169,255);
        padding: 20px;
        margin-top: 45px;
        border-radius: 10px;
    }

    .review-content{
        color: rgba(3,3,3,255);
        font-family: 'Poppins',sans-serif;
        font-size: 20px;
        padding-bottom: 90px;
    }

    .gallery-heading{
        font-size: 41px;
        font-weight: bold;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .gallery-image{
        display: flex;
        left: 14%;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 900px;
        height: auto;
        margin-top: 50px;
        margin-left: 50px;
        padding-bottom: 60px;
    }

    .blog-page-title{
        font-size: 30px;
        padding-top: 20px;
        padding-left: 20px;
    }

    
    

    .blog-posts{
        display: flex;
        padding-top: 20px;
        padding-left: 20px;
    }

    

    .journey{
        background-color: rgb(0, 0, 0);
        padding: 50px;
        color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-top: solid 5px #9309fa;
    }
    
    .journey-heading{
        text-decoration: none;
        transition: 0.2s ease-in;
        font-size: 60px;
    }
    
    .journey-heading:hover{
        /* text-decoration: underline; */
        transform:scale(1.06);
    }

    .about-section-1{
        display: flex;
        flex-direction: row;
        padding: 50px;
    }

    .photo-left{
        flex:1;
    }

    .photo{
        width: 400px;
        height: 400px;
    }

    .photo-22{
        width: 500px;
        height: 400px;
        padding-left: 30px;
    }

    .about-right{
        flex:1.5;
        font-size: 20px;
    }

    .about-section-2{
        display: flex;
        flex-direction: row-reverse;
        padding: 50px;
    }

    .about-left{
        flex:1.4;
        font-size: 20px;
    }

    .photo-right{
        flex:1;
    }

    /* contact page */
    .contact-section-page{
        display: flex;
        flex-direction: row-reverse;
        /* padding: 50px; */
    }

    .contact-left{
        flex:1;
    }

    .contact-image{
        width: 388px;
        height: 344px;
    }

    .contact-form-right{
        flex: 1;
        padding: 60px;
        padding-top: 50px;
    }

    .contact-title{
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 37px;
        font-weight: bold;
        /* margin-bottom: 20px; */
    }
    
    .contact-subtitle{
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: 10;
        /* margin-bottom: 28px; */
    }
    
    .form-label{
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom:10px;
    }
    
    .form-entry{
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom:19px;
        /* height: 40px; */
        background-color: rgba(23,23,23,255);
        color: rgba(190,190,190,255);
        border: 1px solid;
        border-radius: 6px;
        border-color: #363636;
        font-weight: bold;
        padding-left: 10px;
        width: 430px;
    }
    
    .form-submit{
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* margin-bottom:19px; */
        /* height: 40px; */
        background-color: #9309fa;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        width: 450px;
        /* margin-top: 15px; */
    }
    
    .contact-details{
        font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 10;
    }

    .blog-sep-thumb{
        width: 30%;
        height: 30%;
    }

    .blog-sep-title{
        font-size: 40px;
    }

    .blog-sep-content{
        font-size: 17px;
    }

    .blog-sep-post{
        padding: 20px; 
    }

    .navbar-light{  
        background-color: rgba(169,169,169,255);
        color: rgba(3,3,3,255);
        height: 125px;
        width: 100%;
        padding-left: 160px;
        display: flex;
        /*justify-content: center;
        align-items: center; */
    }

    .navbar-first-sec{
        display: flex;
        flex-direction: row;
        padding: 10px 15px;
        /* margin-left: 20px; */
        width: 100%;
        z-index: 1;
    }
    
    .navbar-light-heading{
        position:relative;
        /* margin-left: 120px; */
        margin-right: 140px;
        font-size: 30px;
        padding-left: 40px;
    }

    .navbar-light-contact{
        position: relative;
        
        padding: 11px 15px;
        margin-left: 240px;
        width: 130px;
        height: 50px;
        border-radius: 6px;
        font-size: 13.5px;
        font-weight: bold;
    }

    .navbar-all-comps{
        z-index: 3;
        right: 54%;
        position: relative;
        font-size: 20px;
        margin-right: 100px;
        
    }
    
    .navbar-light-comps{
        /* display: flex;
        
        flex-direction: row; */
        /* padding-left: 20px; */
        /* margin-right: 20px; */
        font-size: 21px;
        flex: 1 1 1;
    }

    .service-1{
        background-color: rgba(22,22,22,255);
        color: white;
        height: 650px;
        display: flex;
        flex-direction: row-reverse;
    }

    .service-right-content{
        padding: 20px;
        padding-top: 5rem;
        padding-left: 6rem;
        padding-right: 6rem;       
    }

    .service-image-1{
        height: 500px;
        width: 500px;
        padding: 50px;
    }

    .service-left-content{ 
        padding-top: 5rem;
        padding-left: 6rem;
        padding: 2rem;
        flex-direction: row;
        width: 40rem;
    }

    .service-title{
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .service-2{
        /* background-color: rgba(22,22,22,255); */
        color: black;
        height: 650px;
        display: flex;
        flex-direction: row;
    }

    .service-2 .service-left-content{
        padding: 50px;
    }

    .service-image-2{
        height: 500px;
        width: 500px;
        padding: 50px;
    }

    .service-3{
        background-color: rgba(22,22,22,255);
        color: white;
        /* height: 650px; */
        display: flex;
        flex-direction: row-reverse;
    }

    .photo-right .photo{
        width: 470px;
        height: 400px;
    }
  }